:root {
  --font-family: Arial, sans-serif;
  --main-bg-color: #f0f0f0;
  --container-bg-color: #ffffff;
  --container-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  --main-font-size: 1rem;
  --btn-bg-color: #007bff;
  --btn-hover-bg-color: #0056b3;
  --btn-font-color: #ffffff;
  --btn-border-radius: 4px;
  --input-radio-size: 20px;
}

body {
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
  background-color: var(--main-bg-color);
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  background-color: var(--container-bg-color);
  box-shadow: var(--container-shadow);
}

/* Headings */
h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}

/* Buttons */
button,
.question-list-button {
  padding: 0.5rem 1rem;
  font-size: var(--main-font-size);
  cursor: pointer;
  background-color: var(--btn-bg-color);
  color: var(--btn-font-color);
  border: none;
  border-radius: var(--btn-border-radius);
  margin-top: 1rem;
}

button:hover,
.meny-btn:hover,
.question-list-button:hover {
  background-color: var(--btn-hover-bg-color);
}

/* Questions and answers */
.question {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.answers {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.answers label {
  display: block;
  margin-bottom: 0.5rem;
}

.answers img {
  display: block;
  max-width: 100px;
  margin-top: 0.5rem;
}

/* Results */
#results {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.result {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
  padding: 0.5rem;
  display: inline-block;
}

/* Radio buttons */
input[type="radio"] {
  appearance: none;
  width: var(--input-radio-size);
  height: var(--input-radio-size);
}

input[type="radio"]:before {
  content: '';
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  border: 2px solid #333;
  background-color: #fff;
  box-sizing: border-box;
}

input[type="radio"]:checked:before {
  background-color: #fff;
  content: '\2714'; /* Unicode checkmark character */
  text-align: center;
  line-height: 18px;
  font-size: 14px;
  color: #333;
}

/* Images */
.question-image {
  width: 450px;
  height: auto;
}

.correct-answer {
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
  padding: 0.5rem;
}

.meny-btn {
  position: fixed;
  top: 1rem;
  right: 1rem;
  font-size: 1rem;
  cursor: pointer;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
}

.meny-btn:hover {
  background-color: #0056b3;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #ffffff;
  margin: 15% auto;
  padding: 2rem;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.horizontal-display label {
  display: inline-block;
  margin-right: 10px;
}

.vertical-display label {
  display: block;
}

#questionListContainer label {
  display: block;
  margin: 5px;
  margin-bottom: 10px;
}

#listName {
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
}

.question-list-button {
  display: inline-block;
  margin: 10px;
  padding: 10px;
  border: 1px solid #000;
  cursor: pointer;
  background-color: #a13737;
  transition: background-color 0.3s;
}

.question-list-button:hover {
  background-color: #d6ac21;
}

.submit-button {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

#resultsContainer {
  display: block;
}

#knockoutResult {
  display: block;
}
